/* Mobile first */

@media only screen and (min-width: 768px) {

}
/* Desktop */
@media only screen and (min-width: 1200px) {
    #content1 {
        display: inline-block;
        float: left;
        margin-left: 20px;
    }

    fieldset {
        padding: 10px 10px;
    }
    
    #content2 {
        display: inline-block;
        float: right;
        border-left: 1px black solid;
        padding-left: 45%;
        margin-right: 20px;
    }
}