/* Mobile first */

.error_msg {
  background:#FBE3E4;
  padding:10px;
  margin-bottom:20px; 
  color: #971F11;  
  width:80%;
}

.success_msg {
  background: lightgreen;
  padding: 10px;
  margin-bottom: 20px;   
  width: 80%;
}

@media only screen and (min-width: 768px) {

}
/* Desktop */
@media only screen and (min-width: 1200px) {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-areas: ". . content1 content1 content2 content2 . .";
      justify-content: center;
    }

    .content1 {
        display: grid;
        grid-area: content1;
        margin-right: 20px;
        min-height: 400px;
        align-content: center;
    }

    fieldset {
        border-radius: 10px;
        padding: 20px 20px;
    }
    
    .content2 {
        display: grid;
        grid-area: content2;
        border-left: 1px black solid;
        padding-left: 45%;
        margin-right: 20px;
        min-height: 400px;
        align-items: center;
    }

    .error_msg {
        background:#FBE3E4;
        padding:10px;
        margin-bottom:20px; 
        color: #971F11;  
        width:80%;
    }
      
    .success_msg {
      background: lightgreen;
      padding: 10px;
      margin-bottom: 20px;   
      width: 80%;
    }
    /* registering forms */
    .reg-form-wrapper {
      display: grid;
    }

    .form-reg {
      display: grid;
      width: 100%;
      padding: 40px 40px;
    }

    input {
      width: 100%;
      min-height: 25px;
      border: 0;
      font-size: 1rem;
      letter-spacing: .15rem;
      margin-top: 5px;
      color: #000;
      border-radius: 4px;
      border: 1px solid black;
      margin-bottom: 15px;
    }

    input .text {
      margin-left: 10px;
    }

    label {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px;
      color: #000;
      margin-top: 15px;
    }

    .name {
      justify-content: space-between;
      display: flex;
      width: 100%;
      align-items: center;
    }    
    
    .lastname-form, .firstname-form {
      width: 48%;
    }

    .email {
      display: flex;
      width: 100%;
      align-items: center;
    }

    .email-form {
      width: 100%;
    }

    .email-pass-conf {
      justify-content: space-between;
      display: flex;
      width: 100%;
      align-items: center;
    }    
    
   .password-form, .confirmPassword-form {
      width: 48%;
    }

    .phone-street-postal {
      justify-content: space-between;
      display: flex;
      width: 100%;
      align-items: center;
    }    
    
    .phone-form, .street-form, .postal-code-form {
      width: 32%;
    }

    .city-country {
      justify-content: space-between;
      display: flex;
      width: 100%;
      align-items: center;
    }    
    
    .city-form, .country-form {
      width: 48%;
    }

    .submit-btn {
      width: 30%;
      float: right;
    }

    .submit-btn a:hover {
      background-color: seagreen;
    }
}