a {
    text-decoration: none;
}

#index-content-wrapper {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-rows: 30vh repeat(auto, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

#hero {
    display: grid;
    min-height: 50vh;
    background-image: url("../img/woodbg.jpg");
    color: white;
    font-size: 2rem;
    padding: 10%;
    text-align: center;
    align-items: center;
}

#index-product-list {
    display: grid;
    grid-gap: 30px;
    background: #f0f0eb;
}

.index-products-categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, 200px);
    padding: 10px;
    grid-gap: 10px;
}

.index-products-categories-titles {
    grid-column: span 2;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    color: black;
}

.index-products-categories-titles:visited {
    color: black;
}

.index-products-categories-titles:hover {
    color: f1f1f1;
}

.index-products {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr;
    text-align: center;
    color: black;
    background: #fff;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
}

.index-products:visited {
    color: black;
}

.index-products-image {
    max-height: 100%;
    max-width: 100%;
}