/* This stylesheet is for the overlay menu, top-bar menu, footer and general default styling */

* {
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden;
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay a, .overlay span {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay-content > a, .overlay-content > span {
    display: block;
}

#hidden-menu a {
    font-size: 2rem;
    display: inline-block;
}

.overlay a:hover, .overlay a:focus, .overlay span:hover, .overlay span:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a, .overlay span {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

@media screen and (max-width: 500px) {
  #hidden-menu a {
    display: block;
  }
}


/* Always on show menu */
header {
    display: grid;
    position: sticky;
    align-items: center;
    grid-template-columns: 2fr auto repeat(2, 1fr);
    padding: 5px;
    border-bottom: 1px solid #e89836;
}

header h3 {
    text-align: center;
    font-size: 21px;
    color: #e89836;
    padding: 15px;
}

header img {
    height: 50px;
    justify-self: center;
}

@media only screen and (min-width: 768px) {
    header h3 {
        font-size: 29px;
    }

    #header-logo {
        height: 100px;
    }
}

.nav-toggle {
    display: block;
    height: 32px;
    width: 40px;
    padding-right: 20px;
    transition: margin 1s;
    justify-self: center;
}

.nav-toggle span {
    position: relative;
    display: block;
    height: 4px;
    width: 40px;
    background-color: #e89836;
    transition: all .3s;
}

.nav-toggle span:nth-child(2) {top: 12px;}
.nav-toggle span:nth-child(3) {top: 24px;}
input[type=checkbox]:checked ~ .nav-toggle {margin-right: 1vw;}

/* Fixing margins for footer */
body > div {
    margin-bottom: 100px;
}

/* Footer is always shown */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;    
    height: 50px;
    background-color: #e89836;
    color: #fff;
    display: grid;
    place-content: center center;
}

.page-title {
    text-align: center;
}

.general-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    color: #000;
    text-align: center;
    transition: all 0.2s;
    background-color: #fff;
    width: auto;
    justify-self: center;
    }
  
  .general-button:hover {
    color:#000000;
    background-color:rgb(230, 230, 230);
  }

  .top-left-button {
    margin: 50px 50px 0;
  }

  .center-button {
      text-align: center;
      justify-self: center;
  }