#create-product {
  margin-left: 5%;
}

#addProductBtn {
  justify-self: left;
}

.handle-product-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

#admin-list {
  margin-bottom: 50px;
}

.handle-product-container {
  padding: 5% 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.handle-product-container h1 {
  grid-column: span 5;
}

.handle-product-container input, 
.handle-product-container textarea {
  padding: 0.35em 1.2em;
  border: 0.1em solid #000;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  color: #000;
  background-color: #fff;
}

.handle-product-container textarea {
  grid-column: span 5;
  resize: vertical;
}

.handle-product-container span {
  grid-column: span 4;
  text-align: right;
}

.admin-product {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 30px 10%;
}

.admin-product:visited {
  color: inherit;
}

.admin-image {
    height: 50px;
}

.admin-desc {grid-column: span 6;}

.wrapper-table td {
  font-weight: normal;
  font-size: 1em;
  border: 1px solid #000;
  width: auto;
}

.wrapper-table {
  text-align: left;
  /* overflow: hidden; */
  width: 90%;
  margin: 0 auto 50px;
  display: table;
  padding: 0 0 8em 0;
  border-collapse: collapse;
}

h2 {
  text-align: center;
}

.wrapper-table td, .wrapper-table th {
  padding: 10px 5px;
}

/* Background-color of the odd rows */
.wrapper-table tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

/* Background-color of the even rows */
.wrapper-table tr:nth-child(even) {
  background-color: rgb(230, 230, 230);
}

.wrapper-table th {
  color: #e89836;
  border-bottom: 1px solid #000;
}

.delete-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: all 0.2s;
  background-color: rgb(255, 71, 71);
}

.delete-btn:hover {
  color:#000000;
  background-color:rgb(230, 230, 230);
  cursor: pointer;
}