#product-content-wrapper {
    margin-top: 50px;
}

.product-page-info {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 0 30px;
}

.product-page-title {
    text-align: center;
}

.product-page-image {
    max-height: 250px;
    max-width: 100%;
    align-self: center;
    justify-self: center;
}



.product-page-purchase-button {
    width: 80%;
    background-color: #e89836;
    color: #fff;
    padding: 10px;
    display: grid;
    margin: 20px auto;
    border: none;
    border-radius: 30px;
    align-self: center;
}

@media only screen and (min-width: 600px) {

    .product-page-info {
        grid-template-columns: 1fr 1fr;
    }

    .product-page-title {
        grid-column: span 2;
        font-size: 1.5em;
    }

    .product-page-image {
        grid-column: span 1;
        grid-row: span 2;
        max-height: 500px;
        align-self: flex-start;
    }

    .product-page-description {
        grid-column: span 1;
    }

    .product-page-purchase-button {
        width: 70%;
        height: 40px;
    }

}

@media only screen and (min-width: 992px) {
    .product-page-info {
        margin: 0 10%;
        grid-template-columns: 1fr 2fr;
    }

    .product-page-title {
        grid-column: 2 / span 1;
        text-align: left;
    }
}