.individual-product {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    margin: 25px 10%;
    gap: 10px;
}

.individual-image {
    height: 250px;
}

.individual-desc {
    text-align: left;
}

.individual-buy {
    width: 80%;
}

.individual-button {
    background-color: #e89836;
    border: none;
    color: #fff;
    min-height: 35px;
    text-align: center;
    width: 100%; 
    border-radius: 15px;
}

@media only screen and (min-width: 768px) {
    .individual-button {
        width: auto;
        padding: 0 15px;
    }
}