#create-product {
  margin-left: 5%;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #000;
  text-align: center;
  transition: all 0.2s;
  background-color: #fff;
  }

#create-product:hover {
  color:#000000;
  background-color:rgb(230, 230, 230);
}

.handle-product-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

#admin-list {
  margin-bottom: 50px;
}

.handle-product-container {
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.handle-product-container textarea {
  grid-column: span 5;
  resize: vertical;
}

.admin-product {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 30px 10%;
}

.admin-product:visited {
  color: inherit;
}

.admin-image {
    height: 50px;
}

.admin-desc {grid-column: span 6;}

.wrapper-table td {
  font-weight: normal;
  font-size: 1em;
  border: 1px solid #000;
  width: auto;
}

.wrapper-table {
  text-align: left;
  /* overflow: hidden; */
  width: 90%;
  margin: 0 auto 50px;
  display: table;
  padding: 0 0 8em 0;
  border-collapse: collapse;
}

h2 {
  text-align: center;
}

.wrapper-table td, .wrapper-table th {
  padding: 10px 5px;
}

/* Background-color of the odd rows */
.wrapper-table tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

/* Background-color of the even rows */
.wrapper-table tr:nth-child(even) {
  background-color: rgb(230, 230, 230);
}

.wrapper-table th {
  color: #e89836;
  border-bottom: 1px solid #000;
}

.delete-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: all 0.2s;
  background-color: rgb(255, 71, 71);
}

.delete-btn:hover {
  color:#000000;
  background-color:rgb(230, 230, 230);
}

.update-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  transition: all 0.2s;
  background-color: rgb(255, 255, 255);
}

.update-btn:hover {
  color:#000000;
  background-color:rgb(230, 230, 230);
}

/* Styles for the modals */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
