#show-all-wrapper {}

#show-all-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 25px;
}

.show-all-product {
    grid-column: span 1;
    display: grid;
    grid-gap: 5px;
    text-align: center;
    justify-items: center;
}
.show-all-image {
    height: 200px;
}
.show-all-title {}
.show-all-brewery {}
.show-all-type {}
.show-all-price {}
.show-all-desc {}

.show-all-buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 50%;
}
.show-all-buttons {
    background-color: #e89836;
    border: none;
    color: #fff;
    min-height: 25px;
    text-align: center;
    width: 100%; 
    border-radius: 15px;
}

.show-all-more {}
.show-all-buy {}



@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 1200px) {}