.product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 75px;
    gap: 30px;
}

.product {
    grid-column: span 1;
    display: grid;
    grid-gap: 5px;
    text-align: center;
    justify-items: center;
    text-decoration: none;
    color: inherit;
}

.product img {height: 200px;}

.read-buy-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 50%;
}

.read-buy-button {
    background-color: #e89836;
    border: none;
    color: #fff;
    min-height: 25px;
    text-align: center;
    width: 100%; 
    border-radius: 15px;
}

#index-content-wrapper {
    display: grid;
    justify-items: center;
}

#hero {
    width: 100vw;
    height: 200px;
    background-image: url("../img/woodbg.jpg");
    color: #fff;
    display: grid;
    text-align: center;
    align-content: center;
}

#latest-wrapper h2 {
    text-align: center;
    margin-top: 25px;
}

#latest-wrapper .general-button {grid-column: span 2;}

/* Styling for product.php */
.individual-product {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    margin: 25px 10%;
    gap: 10px;
}

.individual-image {height: 250px;}
.individual-desc {text-align: left;}
.individual-buy {width: 200px;}

@media only screen and (min-width: 768px) {
    .individual-button {
        width: auto;
        padding: 0 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .product-list {grid-template-columns: repeat(4, 1fr);}
    #latest-wrapper .general-button {grid-column: span 4;}
}