.product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 75px;
}

.product {
    grid-column: span 1;
    display: grid;
    grid-gap: 5px;
    text-align: center;
    justify-items: center;
    text-decoration: none;
    color: inherit;
    margin-bottom: 70px;
}

.product img {height: 200px;}

.quantity-button, .read-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    color: #000;
    text-align: center;
    transition: all 0.2s;
    background-color: #fff;
}
.quantity-button {
    border: 0.1em solid #000;
    width: 60px;
}

.read-button { 
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.read-button:hover {
    color: #bbbbbb;
}

/* Removing the arrows on input quantity arrows */
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

#hero {
    width: 100vw;
    height: 200px;
    background-image: url("../img/woodbg.jpg");
    color: #fff;
    display: grid;
    text-align: center;
    align-content: center;
}

#latest-wrapper h2 {
    text-align: center;
    margin-top: 25px;
}

#latest-wrapper .general-button {grid-column: span 2;}

/* Styling for product.php */
.individual-product {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    margin: 25px 10%;
    gap: 10px;
}

.individual-image {height: 250px;}
.individual-desc {text-align: left;}
.individual-buy {width: 200px;}

@media only screen and (min-width: 768px) {
    .individual-button {
        width: auto;
        padding: 0 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .product-list {grid-template-columns: repeat(4, 1fr);}
    #latest-wrapper .general-button {grid-column: span 4;}
}