 /* body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
} */
#message {
	color: red;
}

#message-checkout{
	color: red;
	font-size: 22px;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:2em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-top: 1em;
  color: #e89836;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.wrapper-table th h1 {
	font-weight: bold;
	font-size: 1em;
	text-align: left;
	color: #185875;
}

.wrapper-table td {
	font-weight: normal;
	font-size: 1em;
	box-shadow: 0 2px 2px -2px #0E1119;
}

.wrapper-table input {
	width: 90%;
	color: #fff !important;
	text-transform: uppercase;
	background: #ed3330;
	border-radius: 5px;
	border: none;
	min-height: 25px;
	border: 0;
	font-size: 1rem;
	letter-spacing: .15rem;
	font-family: "Arimo";
	margin-top: 5px;
	padding: 3px;
	color: #000;
	border-radius: 4px;
	border: 1px solid black;
	cursor: pointer;
}

.back-btn {
	color: #000 !important;
	text-transform: uppercase;
	background: #ffffff;
	padding: 10px;
	border: 4px solid #000 !important;
	border-radius: 6px;
	display: inline-block;
	margin: 0 5%;
	transition: all 0.3s ease 0s;
}

.back-btn a {
	text-decoration: none;
	color: #000;
}

.wrapper-table button {
	width: 90%;
	text-transform: uppercase;
	background: #E99933 ;
	border-radius: 5px;
	border: none;
	min-height: 25px;
	border: 0;
	font-size: 1rem;
	letter-spacing: .15rem;
	font-family: "Arimo";
	margin-top: 5px;
	padding: 3px;
	color: #000;
	border-radius: 4px;
	border: 1px solid black;
	cursor: pointer;
}

.wrapper-table button a {
	text-decoration: none;
	color: #fff !important;
}

.wrapper-table {
	text-align: left;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	display: table;
	padding: 0 0 2em 0;
}

.add-btn {
	color: #20bf6b !important;
	text-transform: uppercase;
	background: #ffffff;
	padding: 10px;
	border: 4px solid #20bf6b !important;
	border-radius: 6px;
	display: inline-block;
	float: right;
	margin: 0 10%;
	transition: all 0.3s ease 0s;
}

.add-btn a {
	text-decoration: none;
	color: #20bf6b;
}

.wrapper-table td, .wrapper-table th {
	padding: 1% 0 1% 0.5%;
}

/* Background-color of the odd rows */
.wrapper-table tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.wrapper-table tr:nth-child(even) {
	  background-color: #2C3446;
}

 .wrapper-table th {
    background-color: #1F2739;
    color: #FB667A;
} 


@media (max-width: 800px) {
.wrapper-table td:nth-child(4),
.wrapper-table th:nth-child(4) { display: none; }
}

/* Create User form */
.form-style{
font-family: 'Open Sans Condensed', arial, sans;
width: 500px;
padding: 30px;
background: #FFFFFF;
margin: 50px auto;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style h2{
background: #4D4D4D;
text-transform: uppercase;
font-family: 'Open Sans Condensed', sans-serif;
color: #797979;
font-size: 18px;
font-weight: 100;
padding: 20px;
margin: -30px -30px 30px -30px;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="tel"],
.form-style input[type="password"],
.form-style textarea,
.form-style select 
{
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
display: block;
width: 100%;
padding: 7px;
border: none;
border-bottom: 1px solid #ddd;
background: transparent;
margin-bottom: 10px;
font: 16px Arial, Helvetica, sans-serif;
height: 45px;
}
.form-style input::-webkit-outer-spin-button,
.form-style input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.form-style input[type=number] {
-moz-appearance: textfield;
}
.form-style textarea{
resize:none;
overflow: hidden;
}
.form-style input[type="button"], 
.form-style input[type="submit"]{
box-shadow: inset 0px 1px 0px 0px #45D6D6;
background-color: #2CBBBB;
border: 1px solid #27A0A0;
display: inline-block;
cursor: pointer;
color: #FFFFFF;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 14px;
padding: 8px 18px;
text-decoration: none;
text-transform: uppercase;
}
.form-style input[type="button"]:hover, 
.form-style input[type="submit"]:hover {
background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
background-color:#34CACA;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0; 
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
 } 

/* Modal Content */
 .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.wrapper {
	margin: 0;
    display: grid;
    font-family: "Arimo";
	animation: slideUp 2000ms ease;
	grid-template-columns: repeat(8, 1fr);
	grid-template-areas:
	". content content content content sidebar sidebar .";
	column-gap: 10px;
}

/* @keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);

    }
} */

.container {
	grid-area: content;
	display: grid;
	background-color: rgba(232, 152, 54, 0.9);
	padding: 5%;
	margin: 50px 0;
	border-radius: 4px;
	box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.3);
	max-height: 600px;
	border: 1px solid black;
}

h1 {
    align-self: center;
}

form {
	display: grid;
	width: 100%;
	padding: 0;

}
input {
	width: 100%;
	min-height: 25px;
	border: 0;
	font-size: 1rem;
	letter-spacing: .15rem;
	font-family: "Arimo";
	margin-top: 5px;
	padding: 3px;
	color: #000;
	border-radius: 4px;
	border: 1px solid black;
}

label {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	color: #000;
    }

h1 {
	font-size: 24px;
	line-height: 10px;
	color: #000;
	letter-spacing: 1px;
}

h1:nth-of-type(2) {
	margin-top: 10%;
}


.name {
    justify-content: space-between;
    display: flex;
	width: 100%;
	align-items: center;
}

.lastname, .firstname {
	width: 45%;
}

.email-pass-phone {
    justify-content: space-between;
    display: flex;
	width: 100%;
	align-items: center;
}

.email-child, .pass-child, .phone-child{
	width: 30%;
}

.address-info {
    display: flex;
	justify-content: space-between;
	align-items: center;
}

.info-1 {
	width: 30%;
}

.info-2 {
	width: 12%;
	margin: 1px;
}

.btns {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
}

.btns button {
	margin: 3px 3px;
	height: 35px;
	width: 20%;
	color: #FFF;
	background-color: rgb(80, 141, 85);
	text-transform: uppercase;
	border: 0;
	border-radius: .3rem;
	letter-spacing: 1px;
}
.btns button:hover {
	animation-name: btn-hov;
	animation-duration: 550ms;
	animation-fill-mode: forwards;
	cursor: pointer;
}

@keyframes btn-hov {
    100% {
        background-color: rgb(80, 141, 85);
        color: #000;
        transform: scale(1.05)
    }
}

input:focus,
button:focus {
    outline: none;
}

.content-wrapper {
	display: grid;
	margin: 50px auto;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 600px;
	max-height: 600px;
	min-width: 350px;
	max-width: 350px;
	grid-area: sidebar;
	box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	background-color: #FFF;
}

.cart h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
.cart table thead td {
	padding: 10px 0;
	border-bottom: 1px solid #EEEEEE;
}

.cart table tbody td {
	padding: 5px;
	border-bottom: 1px solid #EEEEEE;
}
.cart table tbody td:last-child {
	text-align: right;
}

.cart table .remove {
	color: #777777;
	font-size: 12px;
	padding-top: 3px;
}
.cart table .remove:hover {
	text-decoration: underline;
}
.cart table .price {
	color: #999999;
}
.cart table a {
	text-decoration: none;
	color: #555555;
}
.cart table input[type="number"] {
	width: 68px;
	padding: 10px;
	border: 1px solid #ccc;
	color: #555555;
	border-radius: 5px;
}
.cart .subtotal {
	text-align: right;
	padding: 40px 14px;
}
.cart .subtotal .text {
	padding-right: 10px;
	font-size: 18px;
}
.cart .subtotal .price {
	font-size: 18px;
	color: #999999;
}

.remove {
	color: #777777;
	font-size: 12px;
	padding-top: 3px;
}

.remove:hover {
	text-decoration: underline;
}

.placeorder h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
.placeorder p {
	text-align: center;
}

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    color: #000;
    padding: 10px;
}

.checkbox > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #41B883;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #34495E;
    cursor: pointer;
  }

.checkbox > input:checked {
    border: 1px solid #34495E;
    background-color: #41B883;
}

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #000;
    position: absolute;
    left: .5rem;
    top: 0.5rem;
}

.checkbox > input:active {
    border: 3px solid #41B883;
}
