/* body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:2em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-top: 1em;
  color: #e89836;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.wrapper-table th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.wrapper-table td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.wrapper-table {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.wrapper-table td, .wrapper-table th {
	padding: 1% 0 1% 0.5%;
}

/* Background-color of the odd rows */
/* .wrapper-table tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
/* .wrapper-table tr:nth-child(even) {
	  background-color: #2C3446;
} */

/* .wrapper-table th {
    background-color: #1F2739;
    color: #FB667A;
}  */

/*
@media (max-width: 800px) {
.wrapper-table td:nth-child(4),
.wrapper-table th:nth-child(4) { display: none; }
}
*/

/* Create User form */
/* .form-style{
font-family: 'Open Sans Condensed', arial, sans;
width: 500px;
padding: 30px;
background: #FFFFFF;
margin: 50px auto;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

} */
/* .form-style h2{
background: #4D4D4D;
text-transform: uppercase;
font-family: 'Open Sans Condensed', sans-serif;
color: #797979;
font-size: 18px;
font-weight: 100;
padding: 20px;
margin: -30px -30px 30px -30px;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="tel"],
.form-style input[type="password"],
.form-style textarea,
.form-style select 
{
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
display: block;
width: 100%;
padding: 7px;
border: none;
border-bottom: 1px solid #ddd;
background: transparent;
margin-bottom: 10px;
font: 16px Arial, Helvetica, sans-serif;
height: 45px;
}
.form-style input::-webkit-outer-spin-button,
.form-style input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.form-style input[type=number] {
-moz-appearance: textfield;
}
.form-style textarea{
resize:none;
overflow: hidden;
}
.form-style input[type="button"], 
.form-style input[type="submit"]{
-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
box-shadow: inset 0px 1px 0px 0px #45D6D6;
background-color: #2CBBBB;
border: 1px solid #27A0A0;
display: inline-block;
cursor: pointer;
color: #FFFFFF;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 14px;
padding: 8px 18px;
text-decoration: none;
text-transform: uppercase;
}
.form-style input[type="button"]:hover, 
.form-style input[type="submit"]:hover {
background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
background-color:#34CACA;
}

.modal {
  display: none; /* Hidden by default */
  /* position: fixed; Stay in place */
  /* z-index: 1; Sit on top */
  /* padding-top: 100px; Location of the box */
  /* left: 0;
  top: 0; */
  /* width: 100%; Full width */
  /* height: 100%; Full height */
  /* overflow: auto; Enable scroll if needed */
  /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
/* } */

/* Modal Content */
/* .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
/* .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
} */

/* .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */
* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	color: #555555;
	background-color: #FFFFFF;
	margin: 0;
	padding-bottom: 100px; /* Same height as footer */
}
h1, h2, h3, h4, h5 {
	color: #394352;
}
.content-wrapper {
	width: 1050px;
	margin: 0 auto;
}


.cart h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
.cart table {
	width: 100%;
}
.cart table thead td {
	padding: 30px 0;
	border-bottom: 1px solid #EEEEEE;
}
.cart table thead td:last-child {
	text-align: right;
}
.cart table tbody td {
	padding: 20px 0;
	border-bottom: 1px solid #EEEEEE;
}
.cart table tbody td:last-child {
	text-align: right;
}
/* tack sida css */
.cart, .tack-sida-center table tbody td:last-child {
	text-align: center;
}
.cart, .tack-sida-center table thead td {
	padding: 30px 0;
	text-align: center;
	
}
/* fram hit */
.cart table .img {
	width: 80px;
}
.cart table .remove {
	color: #777777;
	font-size: 12px;
	padding-top: 3px;
}
.cart table .remove:hover {
	text-decoration: underline;
}
.cart table .price {
	color: #999999;
}
.cart table a {
	text-decoration: none;
	color: #555555;
}
.cart table input[type="number"] {
	width: 68px;
	padding: 10px;
	border: 1px solid #ccc;
	color: #555555;
	border-radius: 5px;
}
.cart .subtotal {
	text-align: right;
	padding: 40px 0;
}
.cart .subtotal .text {
	padding-right: 40px;
	font-size: 18px;
}
.cart .subtotal .price {
	font-size: 18px;
	color: #999999;
}
.cart .buttons {
	text-align: right;
	padding-bottom: 40px;
}
.cart .buttons .place-order-btn{
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: green;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
.cart .buttons  .update-order-btn{
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
.cart .buttons input[type="submit"]:hover {
	background: #434f61;
}
.placeorder h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
.placeorder p {
	text-align: center;
}